<!DOCTYPE html>
<html lang="en">
<head>
	<title>Created by GIRI</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/tutil.css">
	<link rel="stylesheet" type="text/css" href="static/tmain.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-b-160 p-t-50">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						Your Profession
					</span>
						<form action="/"></form>
						<form action="/teacherslogin"><button class="login100-form-btn" type="submit">
							Teacher
						</button></form>
					<br>
					<form action="/studentslogin"><button class="login100-form-btn" type="submit">
							Student
						</button></form>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
